<h1>Loots</h1>
<table class = "table table-striped">
    <thead>
        <th>LootId</th>
        <th>ItemName</th>
        <th>Rarity</th>
        <th>MonsterId</th>
    </thead>
    <tbody>
        @for (city of (cities$ | async); track $index) {
        <tr>
            <td><a [routerLink]="['/city', city.id]">{{city.id}}</a></td>
            <td>{{loot.lootId}}</td>
            <td>{{loot.itemName}}</td>
            <td>{{loot.rarity}}</td>
            <td>{{loot.monsterId}}</td>
        </tr>
    }
    </tbody>
</table>